footer {
  padding: 80px 0 50px 0;
  background-color: var(--grey);
  font-family: var(--second-font-family);
  font-size: 14px;
  color: var(--white);

  .bk-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo {
    display: block;
    max-width: 164px;
    width: 100%;
    margin-bottom: 32px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;

    &__item {
      position: relative;
      padding: 0 10px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 12px;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background-color: var(--white);
      }


      &:first-child {
        padding-left: 0;

        &:after {
          display: none;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .bk-socials {
    &__title {
      display: block;
      margin-bottom: 16px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__item {
      margin: 0 8px;

      img {
        transition: ease .3s;
      }

      a:hover {
        img {
          filter: invert(0.5);
        }
      }
    }
  }
}