.container {
  max-width: 1361px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  color: inherit;
  text-decoration: none;
  
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

.bk-title-bg {
  position: relative;
  margin-top: -3px;

  @media (min-width: 1024px) {
    margin-top: -150px;
  }
  
  &.bk-title-bg--tar {
    .container {
      display: flex;
      justify-content: flex-end;
      background-color: var(--grey);
      
      @media (min-width: 1024px) {
        top: 260px;
        background-color: transparent;
      }

      h2 {
        text-align: right;
      }
    }
  }
  
  img {
    display: block;
  }
  
  .container {
    margin-top: -3px;
  
    @media (min-width: 1024px) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 400px;
    }

    h2 {
      max-width: 800px;
    }
  }
}