.section-news {
  position: relative;
  padding: 60px 0 0 0;
  z-index: 2;
}

.bk-news {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #F3F3F3;
  
  @media (min-width: 640px) {
    display: flex;
  }
  
  @media (min-width: 1024px) {
    display: block;
    margin-bottom: 0;
    padding-bottom: 222px;

    &:hover {
      .bk-news__content {
        height: 100%;
        padding-top: 20%;
        background: linear-gradient(0deg, rgba(237,101,98,1) 50%, rgba(237,101,98,0.30) 100%);
      }
  
      .bk-news__date,
      .bk-news__title,
      p {
        color: var(--white);
      }
    }
  }

  
  img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  
  &__content {
    width: 100%;
    padding: 14px 20px;
    overflow: hidden;
    transition: ease .5s;
    
    @media (min-width: 1024px) {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 222px;
    }

    p {
      margin-bottom: 20px;
      font-size: 20px;
      color: #464646;
    }
  }

  &__date {
    margin-bottom: 8px;
    font-family: var(--second-font-family);
    font-size: 14px;
    font-weight: 700;
    color: var(--lightgrey);
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 700;
    color: var(--pink);
  }
}