.swiper-home {
  height: 100vh;
  min-height: 600px;
  
  @media (min-width: 1024px) {
    min-height: 810px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide__content {
    position: absolute;
    top: 50%;
    left: auto;
    transform: translate(0, -50%);
    
    @media (min-width: 1024px) {
      max-width: 660px;
      padding-left: 110px;
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 40px;
      color: var(--white);
    }

    p {
      margin-bottom: 30px;
      line-height: 1.25em;
      color: var(--white);
      
      @media (min-width: 1024px) {
        font-size: 20px;
        margin-bottom: 60px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 20px;
    height: 32px;
    top: calc(100% - 50px);
    transform: translate(0, -50%);
    cursor: pointer;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 2;
    
    @media (min-width: 1024px) {
      top: 50%;
      width: 29px;
      height: 46px;
    }
  }

  .swiper-button-prev {
    left: 40px;
    background-image: url('../../img/chevron-l.svg');
    
    @media (min-width: 1024px) {
      left: 90px;
    }
  }
  
  .swiper-button-next {
    right: 40px;
    background-image: url('../../img/chevron-r.svg');
    
    @media (min-width: 1024px) {
      right: 90px;
    }
  }

  .swiper-pagination {
    position: absolute;
    display: flex;
    top: calc(100% - 32px);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    
    @media (min-width: 1024px) {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      flex-direction: column;
    }

    .swiper-pagination-bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: var(--pink);
      opacity: .3;
      color: var(--white);
      cursor: pointer;
      transition: ease .3s;
      
      @media (min-width: 1024px) {
        width: 60px;
        height: 60px;
        font-size: 20px;
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}
